.page {
  display: flex;
  width: 100%;
}

.filters{
  display: flex;
  flex-direction: column;
  background-color: #f3f1f1;
  min-width: 300px;
  min-height: 100vh;
  padding: 20px;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.containerProducts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 4rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #333;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #d4d4d4;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}


@media (max-width: 600px) {

  .page {
    flex-direction: column;
  }

  .filters{
    min-height: 100%;
  }

  .containerProducts {
    padding: 2rem;
  }

  .categories {
    display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  }

}

